resources/wsdl/HQ31TV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://tempuri.org/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12 ="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="WSProcess">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="publicKey"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="WSProcessResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="WSProcessResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetPublicKey">
				<s:complexType />
			</s:element>
			<s:element name="GetPublicKeyResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetPublicKeyResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="WSProcessSoapIn">
		<wsdl:part name="parameters" element="tns:WSProcess" />
	</wsdl:message>
	<wsdl:message name="WSProcessSoapOut">
		<wsdl:part name="parameters" element="tns:WSProcessResponse" />
	</wsdl:message>
	<wsdl:message name="GetPublicKeySoapIn">
		<wsdl:part name="parameters" element="tns:GetPublicKey" />
	</wsdl:message>
	<wsdl:message name="GetPublicKeySoapOut">
		<wsdl:part name="parameters" element="tns:GetPublicKeyResponse" />
	</wsdl:message>
	<wsdl:portType name="TTDTPortalSoap">
		<wsdl:operation name="WSProcess">
			<wsdl:input message="tns:WSProcessSoapIn" />
			<wsdl:output message="tns:WSProcessSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetPublicKey">
			<wsdl:input message="tns:GetPublicKeySoapIn" />
			<wsdl:output message="tns:GetPublicKeySoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TTDTPortalSoap" type="tns:TTDTPortalSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="WSProcess">
			<soap:operation soapAction="http://tempuri.org/WSProcess"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPublicKey">
			<soap:operation soapAction="http://tempuri.org/GetPublicKey"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TTDTPortalSoap12" type="tns:TTDTPortalSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="WSProcess">
			<soap12:operation soapAction="http://tempuri.org/WSProcess"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPublicKey">
			<soap12:operation soapAction="http://tempuri.org/GetPublicKey"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TTDTPortal">
		<wsdl:port name="TTDTPortalSoap" binding="tns:TTDTPortalSoap">
			<soap:address location="http://192.168.50.3/TTDT31/TTDTPortal.asmx" />
		</wsdl:port>
		<wsdl:port name="TTDTPortalSoap12" binding="tns:TTDTPortalSoap12">
			<soap12:address location="http://192.168.50.3/TTDT31/TTDTPortal.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>