resources/wsdl/HQ31DC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReconcileProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="publicKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReconcileProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReconcileProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReconcileProcessSoapIn">
    <wsdl:part name="parameters" element="tns:ReconcileProcess" />
  </wsdl:message>
  <wsdl:message name="ReconcileProcessSoapOut">
    <wsdl:part name="parameters" element="tns:ReconcileProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="DCTTDTPortalSoap">
    <wsdl:operation name="ReconcileProcess">
      <wsdl:input message="tns:ReconcileProcessSoapIn" />
      <wsdl:output message="tns:ReconcileProcessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCTTDTPortalSoap" type="tns:DCTTDTPortalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReconcileProcess">
      <soap:operation soapAction="http://tempuri.org/ReconcileProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DCTTDTPortalSoap12" type="tns:DCTTDTPortalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReconcileProcess">
      <soap12:operation soapAction="http://tempuri.org/ReconcileProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCTTDTPortal">
    <wsdl:port name="DCTTDTPortalSoap" binding="tns:DCTTDTPortalSoap">
      <soap:address location="http://192.168.50.3/TTDT31/DCTTDTPortal.asmx" />
    </wsdl:port>
    <wsdl:port name="DCTTDTPortalSoap12" binding="tns:DCTTDTPortalSoap12">
      <soap12:address location="http://192.168.50.3/TTDT31/DCTTDTPortal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>